html,body{
    margin: 0;
    padding: 0;
    height: 100%;
}

.banner{
    background: url(banner.jpg) no-repeat center center;
    background-size: cover;
    height: 100%;
    position: relative;
    z-index: 0;
    overflow: hidden;
}

.banner::after{
    content: "";
    position: absolute;
    top:0;
    left:0;
    height: 100%;
    width: 100%;
    background-color: #000;
    opacity: .8;
    z-index: -1;
}
.banner-text{
    display: table;
    text-align: center;
    width:100%;
    color:#fff;
    font-size: 50px;
    height: 100%;
    position: relative;
}

.banner-text h1{
    display: table-cell;
    vertical-align: middle;
}